<!DOCTYPE html>
<html>
		<head>
		<meta charset="utf-8">
		<title>Reviews for {{thisgame.title}}</title>
        <link href="/public/css/game.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.1/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        </head>
				            <figure class="splash">
                    <img src="/public/images/{{thisgame.splash}}" alt="Splash image" class="centre"/>
                    <figure class="splashGradient"></figure>
            </figure>
	<body>
        {{>navbar}}
												<section style="padding-bottom: 25px"></section>


										        <section class = "column" id="column1" style="margin-top: -95px;">

            <section>
                    <figure>
                            <img src="/public/images/{{thisgame.poster}}" alt="Game poster"/>
                    </figure>
            </section>
						            <section class = "charts">
            
            <h2>AVERAGE USER SCORE</h2>
                    <figure class='rating_bar' style="margin-left: 40px">
                        <figure class="rating" style="width: calc({{avgScore}}% * 10);"></figure>
                        </figure>
            <p style="text-align:center; font-size: 12px;" id = "score/10text">{{avgScore}}/10 from {{reviewNo}} reviews.</p>
            </section>
                                    	<form action="/game{{thisgame.gameID}}" method="post" style="margin: auto; ">
                                            <input type="submit" value="Back to game"  class="submitButton" >
                                      </form>

        </section>
		        <section class = "column" id = "columnReviews" style="width: 72.5%; float: right">
		<h1>
			All reviews for <i>{{thisgame.title}}</i>
		</h1>
		             <section class="recentReviews">
								

            {{#each review}}
            <table id = "reviewTable"  class='review{{@index}}'>
               <tbody>
                  <tr>
                     <th ><span style = "color: white;">{{this.user}}</span> <span style="font-size: 14px;">‎‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎{{this.review_date}}</span></th>
                     <td>
                        <span class="close" id = "expandText"onclick= "expandReviews({{@index}})" style="width: 20px;"><i class="fas fa-angle-down"></i><i class="fas fa-angle-left" style="display: none;"></i></span>
                        <figure class='rating_bar' id = 'reviewfull'>
                           <figure class="rating" style='width: calc({{this.review_score}}% * 10);' id = "review"></figure>
                        </figure>
                     </td>
                  </tr>
               </tbody>
            </table>
            <section colspan="2" class='review{{@index}}' id = 'reviewText'>{{this.review_text}}</section>
            {{/each}}

        </section>
				</section>
	</body>
	    <script >
				if (document.getElementById("score/10text").innerHTML.includes("from 0 reviews"))
				{
						document.getElementById("score/10text").innerHTML = "No Reviews."
				}
			</script>
    <script src="/public/GamePage.js"></script>
</html>