<!DOCTYPE html>
<html>

<head>
	<link href="/public/css/list.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<h1>Approval of Games</h1>
	<table class='content-table'>
		<thead>
			<tr>
				<th></th>
				<th class='left'>Title</th>
				<th class='left'>Summary</th>
				<th>Release Date</th>
				<th>Submitted By</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each games}}
			<tr>
				<td class='image'>{{this.poster}}</td>
				<td class='title'><a href="/game{{this.gameID}}">{{this.title}}</a></td>
				<td class='summary'>{{this.summary}}</td>
				<td class='releaseDate'>{{this.releaseDate}}</td>
				<td class='rating'>{{this.submittedBy}}</td>

				<form action="/approval/games" method="post">
					<td class='statusChange'> <input type="submit" name="{{this.gameID}}" value="Approve"/> </td>
				</form>
				<form action="/approval/games" method="post">
					<td><input type="submit" name="{{this.gameID}}" value="Reject"/></td>
				</form>
			</tr>
			{{/each}}
		</tbody>
	</table>
</body>

</html>