<!DOCTYPE html>
<html>

<head>
	Approval of Reviews
	<link href="css/list.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<h1>Approval of Reviews</h1>
	<table class='content-table'>
	<thead>
		<tr>
			<th>User Name</th>
			<th>Review</th>
			<th>Rating</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each review}}
		<tr>
			<td class='user'>{{this.user}}</td>
			<td class='review'>{{this.review_text}}</td>
			<td class='rating'>{{this.review_score}}</td>
			<form action="/approvalreviews" method="post">
				<td class='statusChange'> <input type="submit" name="{{this.id}}" value="Approve"/> </td>
			</form>
			<form action="/approvalreviews" method="post">
				<td class='statusChange'><input type="submit" name="{{this.id}}" value="Reject"/></td>
			</form>
		<tr>
		{{/each}}
	</tbody>
	</table>
</body>

</html>