<!DOCTYPE html>
<html>

<head>
  <title>Browse</title>
  <link href="/public/css/list.css" type="text/css" rel="stylesheet" />
  <link href="/public/css/navbar.css" type="text/css" rel="stylesheet" />
</head>

<body>
  {{!-- <div  id="gamesdata"></div> --}}
  {{>navbar}}
  <h1>Browse</h1>
  <table class="content-table">
    <thead>
      <tr>
        <th></th>
        <th class="left">Title</th>
        <th class="left">Summary</th>
        <th>Release Date</th>
        <th>Avg. Rating</th>
        <th>Submitted By</th>
      </tr>
    </thead>
      <tbody>
      {{#each games}}
      <tr class="game-row">
        {{#if this.url}}
        <td class="imageUrl"><img src="{{this.poster}}" class="imageUrl"></td>
        {{else}}
        <td class="image"><img src="/public/images/{{this.poster}}" ></td>
        {{/if}}
        <td class="title"><a class="list" href="/game{{this.id}}">{{this.title}}</a></td>
        <td class="summary"><section>{{this.summary}}</section></td>
        <td class="releasedate">{{this.releaseDate}}</td>
        <td class="rating">{{this.rating}}</td>
        <td class="rating">{{this.submittedBy}}</td>
      </tr>
      {{/each}}
      </tbody>
    </table>

</body>

</html>
