<!DOCTYPE html>
<html>

<head>
  <link href="/public/css/list.css" type="text/css" rel="stylesheet" />
</head>

<body>
  {{!-- <div  id="gamesdata"></div> --}}
  {{>navbar}}
  <h1>Browse</h1>
  <table class='content-table'>
    <thead>
      <tr>
        <th></th>
        <th class='left'>Title</th>
        <th class='left'>Summary</th>
        <th>Release Date</th>
        <th>Avg. Rating</th>
        <th>Submitted By</th>
      </tr>
    </thead>
      <tbody>
      {{#each games}}
      <tr>
        <td class='image'>{{this.poster}}</td>
        <td class='title'><a href="/game{{this.gameID}}">{{this.title}}</a></td>
        <td class='summary'>{{this.summary}}</td>
        <td class='releasedate'>{{this.releaseDate}}</td>
        <td class='rating'>{{this.rating}}</td>
        <td class='rating'>{{this.submittedBy}}</td>
      </tr>
      {{/each}}
      </tbody>
    </table>

</body>

</html>